<div class="row">
    <div class="small-12 medium-8 columns">
        <h3>Pick Your Favorite Product....</h3>
        <ul class="product-list">
            <li *ngFor="let product of products" class="product-container">
                <div class="row">
                    <div class="medium-3 colimns text-center">
                        <img *ngFor="let picture of pictures" src="/uploads/{{ picture.fileName }}">

                        <p>IMAGE GOES HERE!!!</p>
                    </div>
                    <div class="medium-9 columns">
                        <h4>

                            <span class="text--bold js-product-name">{{product.productName}}</span>
                            <small class="product_price js-product-price">{{product.unitPrice| currency:'USD':true}}</small>
                        </h4>
                        <p class="js-product-desc">{{product.details}}</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>