
<div class="row">
    <div *ngFor="let product of pictures">
        <div class="col-xs-4 padding-10" style="width: 25rem">
<md-card class="example-card" >
    <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>
            <span class="badge"></span> <strong>{{product.productName}}</strong>
        </md-card-title>
    </md-card-header>
    <img md-card-image width="250" height="250" src="/uploads/{{ product.fileName }}" alt="Picture" >
    <md-card-content>
        <md-card-actions>
            <!-- <div style="display: flex">
                <span class="padding-right-5">Quantity: </span>
                <input type="number" [(ngModel)]="quantity">
            </div> -->
            <h1 class="badge">${{product.price}}</h1>
            <button (click)="addToCart()" class="btn btn-sm btn-primary">Add to Cart</button>
            <button (click)="clickedProduct(product)" class="btn btn-sm btn-success">Details</button>
        </md-card-actions>
    </md-card-content>
    <md-card-actions>

    </md-card-actions>
  </md-card>
</div>
</div>
</div>